body {
  /* background: #ececec; */
  color: #fff;
}

.container {
  margin: 30px auto;
  padding: 10px 20px;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  /* background: #f6f6f6; */
  /* color: #d1001f; */
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
  /* background: rgb(209,0,31);
    background: linear-gradient(153deg, rgba(209,0,31,1) 0%, rgba(79,79,81,1) 100%); */
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./bgimages/pexels-erik-mclean-6016937.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.header {
  /* color: #ffffff; */
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 4px;
  margin: 30px 0px 30px 0px;
}

.listitems {
  display: inline-block;
}
.listitems ul {
  display: flex;
  list-style: none;
}
ul li {
  padding-right: 10px;
}

img {
  width: 100%;
}

.container p {
  background: #ffffff;
  color: #6d44b8;
  padding: 8px;
  border-radius: 5px;
  margin-top: 2px;
}

.GoBack-btn {
  display: block;
  width: 15%;
  margin: 10px auto;
  justify-content: center;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  /* background: linear-gradient(90deg, #573b8a, #6d44b8); */
  color: #f6f6f6;
  font-size: 1rem;
  border: 1px solid #fff;
  background: #d1001f;
  outline: none;
  cursor: pointer;
  margin-top: 3rem;
  transition-duration: 0.2s;
}

.GoBack-btn:hover {
  background:#ee6b6e;
}  