<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
      integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='assets/index.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <form
        action="upload"
        class="card-content"
        enctype="multipart/form-data"
        method="post"
      >
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith
        %}
        <div class="loader"></div>
        {% block content %}
        <div class="card-inner">
          <div class="container">
            <!-- <div class="image">
              <img src="../static/assets/images/unilogo.jpg" alt="asda" />
            </div> -->
           {% if profile == None %}
            <h2 style="color: red;">Not Authorized</h2>
            {% else %}
            <h2 style="color: #acf3ae;">Authorized</h2>
            {%endif %}
            {% if not vehicle_image %}
            <h1>Automatic Number Plate Recognition</h1>
            {% endif %}
            <div>
              {% if number is defined and number == None %}
              <h3  class="mt-3" style="font-size:17px ;">Something wrong with the image Please Try another image</h2>
              <button onclick="{{url_for('home')}}" class="subscribe-btn" style="margin-top:30px ;">Go Back</button>
              {%endif%}
            </div>
            {% if not vehicle_image %}
            <p>Upload image of the vehicle to authenticate</p>
            {% endif %}
          </div>
          {% if not vehicle_image %}
          <div class="form-input">
            <input
              type="file"
              id="file"
              name="file"
              placeholder="Choose Image"
              required
            />
            
            <button class="subscribe-btn" type="submit" onclick="loading();">
              Submit
            </button>
            <br><br>
            <a href="/live" class="subscribe-btn">Camera</a>
            <a href="/vehicleregister" class="subscribe-btn">Record Handling</a>
          </div>
          
          <div class="logout-btn">
          <a href="/auth" class="">LOG OUT</a>
        </div>
  
        </div>
        {% endif %} {% endblock content %}
      </form>
      {% if number and number != None %}
      <div class="details">
        <h2>Vehicle No: {{number}}</h1>
        <img src="{{vehicle_image}}"  width="400" height="400" />
        <form action="{{ url_for('info') }}" method="get">
          <input type="hidden" name="v_num" value="{{number}}" />
          <br>
          <button class="subscribe-btn" type="submit">View Profile</button>
      </form>
      </div> 
      {% endif%}
    </div>
  </body>
  <script src="{{url_for('static', filename='assets/Js/index.js')}}"></script>
</html>
