<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
      integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='assets/index.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <form
        action="upload"
        class="card-content"
        enctype="multipart/form-data"
        method="post"
      >
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith
        %}
        <div class="loader"></div>
        <div class="card-inner">
          <div class="container">
            <div class="image">
              <img src="../static/assets/images/unilogo.jpg" alt="asda" />
            </div>
            <h1>Automatic Number Plate Recognition</h1>
            <div>
              <h1>{{number}}</h1>
              {% block content %} {% if vehicle_image %}
              <img src="{{vehicle_image}}" width="300" height="200" />
              {% endif %} {% endblock content %}
            </div>
            <p>Upload image of the vehicle to authenticate</p>
          </div>
          <div class="form-input">
            <input
              type="file"
              id="file"
              name="file"
              placeholder="Choose Image"
              required
            />
            <button class="subscribe-btn" type="submit" onclick="loading();">
              Submit
            </button>
            <a href="/live" class="subscribe-btn">Camera</a>
          </div>
          <a href="/" class="logout-btn">LOG OUT</a>
        </div>
      </form>
    </div>
  </body>
  <script src="{{url_for('static', filename='assets/Js/index.js')}}"></script>
</html>
