<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='assets/index.css') }}"
    />
    <title>Camera</title>
  </head>
  <body style="height:95vh;">
    <div class="row justify-content-center mt-4">
      <video
        id="video"
        width="640"
        height="480"
        autoplay
        style="background-color: grey"
        class="mr-2"
      ></video>
      <canvas
        id="canvas"
        width="640"
        height="480"
        style="background-color: grey"
      ></canvas>
    </div>

    <div class="justify-content-center mt-4 col-12">
      <button style="margin-left:650px;" id="send" class="col-8, subscribe-btn">Take & Detect Photo</button>
      <br><br>
      <h2
        class="center col-6 vnumber mt-2 p-1"
        style="background-color: white; text-align: center; color:#d1001f; margin-left:350px;"
      >
        e.g ICT-456</h2>
    </div>
    <div class="container text-center d-none profile">
      <h2 class="auth"></h2>
      <img width="400" src="" height="400" class="image" />
      <form action="{{ url_for('info') }}" method="get">
        <input type="hidden" name="v_num" id="v_num" />
        <button class="subscribe-btn" type="submit">View Profile</button>
      </form>
    </div>
    <script>
      // Elements for taking the snapshot
      var video = document.getElementById("video");
      var canvas = document.getElementById("canvas");
      var context = canvas.getContext("2d");

      // Get access to the camera!
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
          });
      }

      // Trigger photo take
      document.getElementById("send").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480); // copy frame from <video>
        canvas.toBlob(upload, "image/jpeg"); // convert to file and execute function `upload`
      });

      function upload(file) {
        // create form and append file
        var formdata = new FormData();
        formdata.append("snap", file);
        // create AJAX requests POST with file
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('processImage') }}", true);
        xhr.onload = function () {
          if ((this.status = 200)) {
            console.log(this.response);
          } else {
            console.error("error", xhr);
          }
          res = JSON.parse(this.response);
          var p = document.getElementsByClassName("vnumber");
          var auth = document.getElementsByClassName("auth");
          if (res.vehicleNumber == null) {
            p[0].innerHTML = "Not recognized";
            auth[0].innerHTML = "Not Authorized";
            auth[0].style.color = "red";
            return;
          }
          if (res.profile !== null) {
            document.querySelector('input[name="v_num"]').value = res.vehicleNumber;
            document.querySelector(".profile").classList.remove("d-none");
            document.querySelector(".image").src = res.vehicle_image;
          }
          p[0].innerHTML = res.vehicleNumber;
          auth[0].innerHTML = "Authorized";
          auth[0].style.color = "green";
        };
        xhr.send(formdata);
      }
    </script>
  </body>
</html>
